/* Hide scrollbar but still allow scrolling */
.modal-scroll-container {
  overflow-y: scroll; /* Enable vertical scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.modal-scroll-container::-webkit-scrollbar {
  display: none;
}
