@import "tailwindcss";

/* Set default font */
body {
  font-family: 'Poppins', sans-serif;
}

/* Default browser scrollbar color */
:root {
  scrollbar-width: thin;
  scrollbar-color: #fbbf23 transparent;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #fbbf23;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #f59e0b;
}

/* Hide scrollbar for webkit browsers */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}